*{
    margin: 0;
    padding: 0; 
    list-style: none;   
}
body{
    position: relative;
    margin: auto;    
    width: 1100px;
    height: 950px;
}

header{
    position: relative;
    margin: auto;
    width: 1100px;
    height: 150px ;
    background:black;
}
#logo{       
    position: absolute;
    left: 475px;    
}
#icon1{
    position: absolute;        
    top:25px;
    right: 250px;    
}
#icon2{
    position: absolute;
    top:75px;
    right: 200px;
}
#icon3{
    position: absolute;
    top:25px;
    right: 150px;
}
#icon4{
    position: absolute;
    top:75px;
    right: 100px;
}
#sesion{
    position: absolute;
    top:20px;
    left: 20px;    
}
nav{
    position: relative;
    margin: 5px 5px;
    width: 1100px;
    height: 50px;       
}
.btn{
    float: left;
    width: 360px;
    height: 50px;  
    margin: 0px 2px;     
    background: yellow;
    color: black;    
    text-align: center;
    line-height: 50px;
    border-radius: 10%;    
}
section{
    position: relative;
    margin: 10px;
    width: 800px;
    height: 750px;
    border: black solid;
}
#abajo{ 
    position: relative;       
    width: 1100px;
    height: 80px;   
    margin: 0px; 
    background: black;
}
.pie{
    float: left;
    margin: 20px 150px;    
    color: blanchedalmond;
    text-align: center;
}
footer{
    position: relative;  
    width: 1100px;         
    height: 40px;
    color: white;     
    text-align: center;
    background: black;
}